* {
	box-sizing: border-box;
}

/*
Colors:
#37AFA9
#2D8E87
#0C695D
#E0F2F2
#152329;
*/

body{
	font-family: Arial, Helvetica, sans-serif;

}

p {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: black;

}

h1 {
	text-transform: uppercase;
	font-size: 4em;
	color: #152329;
}

h2{
	margin-top: 2em;
	font-size: 2.5em;
	color: #152329;
	text-decoration: underline;
}

h3{
	font-size: 1.625em;
	color:#152329;
	margin-left: 1em;
}


.grid{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin: 5em;
	margin-top: 1em;
}

.grid .box{

	flex:1 1 auto;
	max-width:100%;
	background: #0C695D;
	padding:1.25em;
	margin:0.625em;
	color: white;
	border-radius: 1em;
}

.button {
	background-color: #FD5E53;
	border:none;
	color:white;
	padding: 0.625em 0.9375em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:1.125em;
}

/*taken from Erika's P01 Code*/
.mainnav {

	overflow: hidden;

	background-color: #37AFA9;

	/*position:fixed;
	top: 0;
	right: 0;
	left: 0;*/
	
}

.mainnav a {
	float: left;
	text-decoration: none;
	text-align:center;
	padding:  0.3em 5.65em;
	color: white;
	font-size:1em;
	padding-top: 0.5em; 
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .sub {
	font-family: inherit;
	font-size: 1em;
	border: none;
	outline: none;
	padding: 0.5em 6.0em;

	background-color: inherit;
	color: white;
	
}
.mainnav a:hover, .subnav:hover .sub{
	background-color:#2D8E87;

}

.subnav-content {
	display: none;
	position: absolute;

	left:2;

	background-color: #2D8E87;
	z-index: 1;
}

.subnav-content a{
	float: left;
	text-decoration: none;
	color: white;

}

.subnav-content a:hover{
	background-color: #E0F2F2;
	color: black;
}



.subnav:hover .subnav-content {
	display: block;
	/*position:fixed;*/
}

#ban{
	position: relative;
}

#bnnr {
	width: 100%;
	height: auto;
	margin-top: 2em;
	z-index: 0;
}

#maintitle {
	position: absolute;
	bottom: 0;
	z-index: 1;
	color: white;
	background-color: rgba(0,0,0,0.4);
	margin-bottom: 0.05em;
	padding-right: 0.1em;
}

.cr {
	border-style: solid;
	padding: 1em;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	border-color: #37AFA9;
}

figure {
	text-align: center;
	padding: 0;
}

#picofme {
	width: 30em;
	height: auto;
}

@media (min-width: 70em) {

	.grid2 {
		display: flex;
		margin: 2em;
	}

	.grid3{
		display: flex;
		margin-top: 10em;
	}

	.house {
		margin-right: 2em;
	}

	.cart {
		margin-left: 2em;
	}
	.subnav{
		padding-left: 6.6em;
		padding-right: 6.6em;
	}
}

@media (max-width: 69em){
	.house {
		margin-right: 1em;
	}

	.cart {
		margin-left: 1em;
	}
}

figcaption {
	font-size: 0.8em;
	font-style: italic;
}

.grid3{
	background-color: #2D8E87;
	border-radius: 1em;
}

.grid4 {
	display: flex;
}

.sm {
	width: 8em;
	height: auto;
	border-radius: 1em;
}

#sm {
	color: white;
}

.house, .cart{
	width: 2.4em;
	height: auto;
	background-color: #37AFA9;
	padding: 0.2em;
	border-radius: 1em;
}

.house:hover, .cart:hover {
	background-color: #2D8E87;
}