* {
	box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}

p {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: black;

}

h1 {
	margin-top: 3em;
	text-transform: uppercase;
  font-size: 4em;
  color: #152852;
}

h2{
	margin-top: 3em;
	font-size: 2.5em;
  	color: #4B3D60;
  	text-decoration: underline;
}

h3{
  font-size: 1.625em;
  color:#4B3D60;
}


.grid{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 5em;
}

.grid .box{
  
  flex:1 1 auto;
  max-width:100%;
  background: #FFE373;
  padding:1.25em;
  margin:0.625em;
}

.button {
  background-color: #FD5E53;
  border:none;
  color:white;
  padding: 0.625em 0.9375em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.125em;
}

/*taken from Erika's P01 Code*/
.mainnav {

	overflow: hidden;
	background-color: #08183A;
	position:fixed;
	top: 0;
	right: 0;
	left: 0;
}

.mainnav a {
	float: left;
	text-decoration: none;
	text-align:center;
	padding:  0.5em 5.5em;
	color: white;
	font-size:1.5em;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .sub {
	font-family: inherit;
	font-size: 1.5em;
	border: none;
	outline: none;
	padding: 0.5em 5.5em;
	background-color: inherit;
	color: white;
	
}
.mainnav a:hover, .subnav:hover .sub{
  background-color:#FD5E53;

}

.subnav-content {
	display: none;
	position: absolute;

	left:2;
	width:100%;
	background-color: #FD5E53;
	z-index: 1;
	
}

.subnav-content a{
	float: left;
	text-decoration: none;
	color: white;
}
.subnav-content a:hover{
	background-color: #FFE373;
  	color: black;
}


.subnav:hover .subnav-content {
	display: block;
	position:fixed;
}

/*OwO What's dis?*/